@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
	margin-left: 225px; /* Same width as the sidebar + left position in px */
}

h1 {
	color: white;
	background-color: #000000;
	font-family: 'Playfair Display', Georgia, serif;
	font-size: 50px;
}

h2 {
	font-family: Montserrat, 'Trebuchet MS', sans-serif;
	font-size: 40px;
	color: #333333;
	border-top: 1px solid #dedede;
	padding-top: 15px;
	letter-spacing: .1em;
}

p, li {
	font-family: 'Playfair Display', Georgia, serif;
	color: #222222;
	font-size: 1.05em;
}

a {
	color: rebeccapurple;
}

var {
	font-family: Calibri, sans-serif;
}

blockquote {
	font-family: Montserrat, 'Trebuchet MS', sans-serif;
	font-style: italic;
	font-size: 14px;
}

	blockquote li {
		font-family: Montserrat, 'Trebuchet MS', sans-serif;
		font-style: italic;
		font-size: 14px;
		margin-left: -25px;
	}

hr {
	color: #dedede;
	margin: 40px 20px 40px 20px;
}

img {
	border: 1px solid #dedede;
	float: right;
	margin-left: 10px;
}

	img.centeredimg {
		float: none;
		display: block;
		margin: 5px auto 5px auto;
	}

	img.linkicon {
		float: none;
		border: none;
		width: 20px;
		margin-bottom: -0.25em;
	}

div.interjection p {
	color: rebeccapurple;
	margin: 20px;
}

code {
	line-height: 1.5;
}

	code pre {
		border: unset;
		padding: unset;
		border: 1px solid #dedede;
		padding: 20px;
	}



/* ========= */
/*  Sidenav  */
/* ========= */
.sidenav {
	width: 165px;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	left: 0px; /*Needed to override body margin*/
	margin: 40px;
}

	.sidenav p {
		/*padding: 6px 0px 6px 0px;*/
		margin: 0px;
	}

	.sidenav a {
		display: block;
		padding: 6px 0px 6px 0px;
		text-decoration: none;
		font-family: Calibri, 'Trebuchet MS', sans-serif;
		font-size: 16px;
		text-transform: uppercase;
	}

		.sidenav a:hover {
			color: #c94fe2;
		}

	.sidenav #sidenavHeader {
		font-family: Calibri, 'Trebuchet MS', sans-serif;
		font-weight: 900;
		font-size: 1.5em;
		color: white;
		background-color: black;
		padding: 5px;
		line-height: .95em;
	}
