@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
	margin-left: 225px; /* Same width as the sidebar + left position in px */
}

h1 {
	color: white;
	background-color: #000000;
	font-family: 'Playfair Display', Georgia, serif;
	font-size: 50px;
}

h2 {
	font-family: Montserrat, 'Trebuchet MS', sans-serif;
	font-size: 40px;
	color: #333333;
	border-top: 1px solid #dedede;
	padding-top: 15px;
	letter-spacing: .1em;
}

p, li {
	font-family: 'Playfair Display', Georgia, serif;
	color: #222222;
	font-size: 1.05em;
}

li {
	padding: 3px;
}

a {
	color: rebeccapurple;
}

var {
	font-family: Calibri, sans-serif;
}

blockquote {
	font-family: Montserrat, 'Trebuchet MS', sans-serif;
	font-style: italic;
	font-size: 14px;
}

	blockquote li {
		font-family: Montserrat, 'Trebuchet MS', sans-serif;
		font-style: italic;
		font-size: 14px;
		margin-left: -25px;
	}

hr {
	color: #dedede;
	margin: 40px 20px 40px 20px;
}

img {
	border: 1px solid #dedede;
	float: right;
	margin-left: 10px;
	max-width: 100%;
	height: auto;
}

	img.centeredimg {
		float: none;
		display: block;
		margin: 5px auto 5px auto;
	}

	img.linkicon {
		float: none;
		border: none;
		width: 20px;
		margin-bottom: -0.25em;
	}

div.interjection p {
	color: rebeccapurple;
	margin: 20px;
}

code {
	line-height: 1.5;
	
}

	code pre {
		border: unset;
		padding: unset;
		border: 1px solid #dedede;
		padding: 20px;
		overflow-wrap: break-word; /*TODO: Fix word break for smaller screens*/
		word-break: break-all;
	}

.parallax {
	background-image: url("resource/polynomial/header.jpg");
	min-height: 600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}