.parallax {
	background-image: url("irina-iriser-2Y4dE8sdhlc-unsplash.png");
	min-height: 65vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}